# SPDX-FileCopyrightText: 2021-2025 Dyne.org foundation
#
# SPDX-License-Identifier: AGPL-3.0-or-later

.idea/*
.nyc_output
build
node_modules
test
src/**.js
coverage
*.log
package-lock.json

.coverage
